<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  		"https://mybatis.org/dtd/mybatis-3-config.dtd">
  		
<configuration>
	 <typeAliases>
		 <typeAlias type="java.lang.Integer" alias="Integer"/>
		 <typeAlias type="java.lang.Long" alias="Long"/>
		 <typeAlias type="java.lang.String" alias="String"/>

		 <typeAlias type="java.util.List" alias="List"/>
		 <typeAlias type="java.util.Map" alias="Map"/>

		 <typeAlias type="com.groupb.cuiz.support.util.pager.Pager" alias="Pager"/>

		 <typeAlias type="com.groupb.cuiz.web.member.MemberDTO" alias="MemberDTO"/>
		 <typeAlias type="com.groupb.cuiz.web.member.role.RoleDTO" alias="RoleDTO"/>
		 <typeAlias type="com.groupb.cuiz.web.member.role.RoleDTO" alias="RoleDTO"/>

		 <typeAlias type="com.groupb.cuiz.web.board.BoardDTO" alias="BoardDTO"/>
		 <typeAlias type="com.groupb.cuiz.web.board.notice.NoticeDTO" alias="NoticeDTO"/>
		 <typeAlias type="com.groupb.cuiz.web.board.qna.QnaDTO" alias="QnaDTO"/>
		 <typeAlias type="com.groupb.cuiz.web.board.qna.ReplyDTO" alias="ReplyDTO"/>
		 <typeAlias type="com.groupb.cuiz.web.board.BoardFileDTO" alias="BoardFileDTO"/>

		 <typeAlias type="com.groupb.cuiz.web.quiz.TestcaseDTO" alias="TestcaseDTO"/>
		 <typeAlias type="com.groupb.cuiz.web.quiz.QuizDTO" alias="QuizDTO"/>
		 <typeAlias type="com.groupb.cuiz.web.quiz.MemberAnswerDTO" alias="MemberAnswerDTO"/>
		 <typeAlias type="com.groupb.cuiz.web.quiz.QuizListDTO" alias="QuizListDTO"/>
		 <typeAlias type="com.groupb.cuiz.web.quiz.AnswerShowDTO" alias="AnswerShowDTO"/>
		 <typeAlias type="com.groupb.cuiz.web.quiz.JumsuUpdateDTO" alias="JumsuUpdateDTO"/>

		 <typeAlias type="com.groupb.cuiz.web.item.ItemDTO" alias="ItemDTO"/>
		 <typeAlias type="com.groupb.cuiz.web.purchase.PurchaseDTO" alias="PurchaseDTO"/>
		 <typeAlias type="com.groupb.cuiz.web.mypage.MypageSetDTO" alias="MypageSetDTO"/>
		 <typeAlias type="com.groupb.cuiz.web.ranking.RankingDTO" alias="RankingDTO"/>
		 <typeAlias type="com.groupb.cuiz.web.statistic.StatisticDTO" alias="StatisticDTO"/>
		 <typeAlias type="com.groupb.cuiz.web.mypage.YoursDTO" alias="YoursDTO"/>
	 </typeAliases>
</configuration>