<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.groupb.cuiz.web.item.ItemDAO">


<!-- detail  -->

<select id="getDetail" parameterType="ItemDTO" resultType="ItemDTO">

	SELECT * FROM ITEM WHERE ITEM_NUM = #{item_Num}

</select>

 
 <!-- List -->
 
 <select id="getList" resultType="ItemDTO">
 
	SELECT * FROM ITEM
 
 </select>
 

<!-- insert -->

 <insert id="setItem" parameterType="ItemDTO">
 
 	INSERT INTO ITEM (ITEM_NUM,ITEM_NAME,ITEM_CONTENTS,ITEM_PRICE,ITEM_PHOTO)
	VALUES (#{item_Num},#{item_Name},#{item_Contents},#{item_Price},#{item_Photo})
 
 </insert>
 
 <!-- 삭제 -->
 
 <update id="delete" parameterType="ItemDTO">
 
 UPDATE ITEM SET FLAG = 0 WHERE ITEM_NUM = #{item_Num}
  
 </update>
 
 <!-- update -->
<update id="update">

 UPDATE ITEM SET  	
 	ITEM_NAME = #{item_Name},
 	ITEM_CONTENTS = #{item_Contents},
 	ITEM_PRICE = #{item_Price},
 	ITEM_PHOTO = #{item_Photo}
	WHERE ITEM_NUM = #{item_Num}
</update> 
 
 
 
 
 
</mapper>