<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.groupb.cuiz.web.item.ItemDAO">


<!-- detail  -->

<select id="getDetail" parameterType="ItemDTO" resultType="ItemDTO">

 	SELECT * FROM ITEM WHERE ITEM_NUM = #{item_Num}

</select>
 
 <!-- List -->
 
 <select id="getList" resultType="ItemDTO">
 
	SELECT * FROM
	(
	SELECT ROWNUM R, I.* FROM
		(
		SELECT * FROM item <include refid="Kind"/>  <include refid="searchItem"/> 
		) I  <include refid="search"/>   ORDER BY R DESC
	)RN
 
 </select>
 <sql id="sort">
 	<if test = "sort=='PricaeAsc'">
 	ORDER BY ITEM_PRICE ASC;
 	</if>
 	<if test = "sort=='PricaeDesc'">
 	ORDER BY ITEM_PRICE ASC;
 	</if>
 	
 </sql>
 
 
<sql id="searchItem">

	<where>
	
		<if test="searchItem =='itemName'">
		WHERE ITEM_NAME LIKE '%'||#{"search"}||'%'
		</if>
		<if test="searchItem =='itemContents'">
		WHERE ITEM_CONTENTS LIKE '%'||#{"search"}||'%'
		</if>
	</where>

</sql>
 


<sql id="kind">
	<where>
	
		<if test="kind=='kind1'">
		WHERE ITEM_NUM >10000
		</if>
		<if test="kind=='kind2'">
		WHERE ITEM_NUM BETWEEN 0 and 10000
		</if>
		
	</where>

</sql>

<!-- insert -->

 <insert id="add" parameterType="ItemDTO">
 
 	INSERT INTO ITEM (ITEM_NUM,ITEM_NAME,ITEM_CONTENTS,ITEM_PRICE,ITEM_PHOTO)
	VALUES (#{item_Num},#{item_Name},#{item_Contents},#{item_Price},#{item_Photo})
 
 </insert>
 
 <!-- 삭제 -->
 
 <update id="delete" parameterType="ItemDTO">
 
 UPDATE ITEM SET FLAG = 0 WHERE ITEM_NUM = #{item_Num}
  
 </update>
 
 <!-- update -->
<update id="update" parameterType="ItemDTO">

 UPDATE ITEM SET  	
 	ITEM_NAME = #{item_Name},
 	ITEM_CONTENTS = #{item_Contents},
 	ITEM_PRICE = #{item_Price},
 	ITEM_PHOTO = #{item_Photo}
	WHERE ITEM_NUM = #{item_Num}
</update> 
 
 
 
 
 
</mapper>