<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.groupb.cuiz.web.purchase.PurchaseDAO">

<select id="getList" parameterType="PurchaseDTO" resultType="ItemDTO">	
<!-- 	SELECT ROWNUM R, IC.* FROM
	(SELECT * FROM ITEM
		LEFT JOIN CART 
		USING (ITEM_NUM)) IC
	WHERE MEMBER_ID = #{member_ID}  ORDER BY R DESC
	 -->
		
	SELECT ROWNUM R, IC.* FROM
		(SELECT * FROM ITEM
			LEFT JOIN CART 
			USING (ITEM_NUM)) IC
	WHERE MEMBER_ID = #{member_ID}  ORDER BY R DESC	

</select>

<!-- kakaoPay -->

<insert id="kakopaySuccess" parameterType="ReceiptDTO">

	INSERT INTO RECIPT 
		(MEMBER_ID,
		ITEM_NUM,
		AID,
		TID,
		CID,
		PARTNER_ORDER_ID,
		PARTNER_USER_ID,
		PAYMENT_METHOD_TYPE,
		CREATED_AT,
		APPROVED_AT,
		TOTAL,
		TAX_FREE,
		VAT,
		POINT,
		DISCOUNT,
		GREEN_DEPOSIT)
	VALUES(	#{member_ID},
			#{item_Num},
			#{aid},
			#{tid},
			#{cid},
			#{partner_order_id},
			#{partner_user_id},
			#{payment_method_type},
			#{created_at},
			#{approved_at},
			#{amount.total},
			#{amount.tax_free},
			#{amount.vat},
			#{amount.point},
			#{amount.discount},
			#{amount.green_deposit}
		)	
</insert>

<insert id="kakopaySuccessCard" parameterType="ReceiptDTO">

	INSERT INTO CARD_PAYMENT
		("NO",
		AID,
		KAKAOPAY_PURCHASE_CORP,
		KAKAOPAY_PURCHASE_CORP_CODE,
		KAKAOPAY_ISSUER_CORP,
		KAKAOPAY_ISSUER_CORP_CODE,
		BIN,
		CARD_TYPE,
		INSTALL_MONTH,
		APPROVED_ID,
		CARD_MID,
		INTEREST_FREE_INSTALL,
		INSTALLMENT_TYPE,
		CARD_ITEM_CODE)	
	VALUES
		(CARD_SEQ.NEXTVAL,
		#{aid},
		#{card_info.kakaopay_purchase_corp},
		#{card_info.kakaopay_purchase_corp_code},
		#{card_info.kakaopay_issuer_corp},
		#{card_info.kakaopay_issuer_corp_code},
		#{card_info.bin},
		#{card_info.card_type},
		#{card_info.install_month},
		#{card_info.approved_id},
		#{card_info.card_mid},
		#{card_info.interest_free_install},
		#{card_info.installment_type},
		#{card_info.card_item_code}		
		)
</insert>


<!-- Buy  --> 
 <insert id="buyItem" parameterType="PurchaseDTO"> 
 
	 INSERT INTO PURCHASE (ITEM_NUM,MEMBER_ID,ADD_DATE)
	 VALUES (#{item_Num}, #{member_ID}, SYSDATE)
  
 </insert>
 
 <select id="check" parameterType="PurchaseDTO" resultType="Long">
 
 SELECT COUNT(ITEM_NUM) FROM 
	(SELECT * FROM PURCHASE WHERE MEMBER_ID =#{member_ID})
	WHERE  ITEM_NUM = #{item_Num}
 </select>
 
 
 
</mapper>