<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.groupb.cuiz.web.purchase.PurchaseDAO">

<select id="getList" parameterType="PurchaseDTO" resultType="ItemDTO">	
<!-- 	SELECT ROWNUM R, IC.* FROM
	(SELECT * FROM ITEM
		LEFT JOIN CART 
		USING (ITEM_NUM)) IC
	WHERE MEMBER_ID = #{member_ID}  ORDER BY R DESC
	 -->
		
	SELECT ROWNUM R, IC.* FROM
		(SELECT * FROM ITEM
			LEFT JOIN CART 
			USING (ITEM_NUM)) IC
	WHERE MEMBER_ID = #{member_ID}  ORDER BY R DESC	

</select>

<!-- kakaoPay -->

<insert id="kakopaySuccess">

	INSURT INTO RECEPT 
		(MEMBER_ID,
		ITEM_NUM,
		AID,TID,
		CID,
		PARTNER_ORDER_ID,
		PARTNER_USER_ID,
		PAYMENT_METHOD_TYPE,
		CREATED_AT,
		APPROVED_AT,
		TOTAL,
		TAX_FREE,VAT,
		POINT,
		DISCOUNT,
		GREEN_DEPOSIT)
	VALUES(
		
		
	
		)	
</insert>


<!-- Buy  --> 
 <insert id="buyItem" parameterType="PurchaseDTO"> 
 
	 INSERT INTO PURCHASE (ITEM_NUM,MEMBER_ID,ADD_DATE)
	 VALUES (#{item_Num}, #{member_ID}, SYSDATE)
  
 </insert>
 
 <select id="check" parameterType="PurchaseDTO" resultType="Long">
 
 SELECT COUNT(ITEM_NUM) FROM 
	(SELECT * FROM PURCHASE WHERE MEMBER_ID =#{member_ID})
	WHERE  ITEM_NUM = #{item_Num}
 </select>
 
 
 
</mapper>