<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.groupb.cuiz.web.ranking.RankingDAO">

	<!-- 하다보니 setInsert랑 setjumsu 없어도 되는데 일단 냅둠 -->

	<delete id="setDelete">
		DELETE RANKING
	</delete>
	
	<insert id="setInsert" parameterType="RankingDTO">
		INSERT INTO RANKING VALUES(RANKING_SEQ.NEXTVAL,#{member_ID},0,null)
	</insert>
	
	<select id="getAnswerID" resultType="RankingDTO">
		SELECT DISTINCT MEMBER_ID FROM MEMBER_QUIZ_ANSWER
		WHERE ANSWER_CHECK=1
	</select>

	<select id="getQuizNO" resultType="QuizDTO" parameterType="RankingDTO">
		SELECT QUIZ_NO  FROM MEMBER_QUIZ_ANSWER WHERE MEMBER_ID = #{member_ID}	
	</select>

	<select id="getJumsu" resultType="int" parameterType="QuizDTO">
		SELECT QUIZ_POINT  FROM QUIZ WHERE QUIZ_NO = #{quiz_No}
	</select>
	
	<update id="setJumsu" parameterType="RankingDTO">
		UPDATE RANKING SET DAILY_JUMSU = #{daily_Jumsu} WHERE MEMBER_ID = #{member_ID}
	</update>
	
	<select id="getRanking" resultType="RankingDTO">
		SELECT * FROM (
   			 SELECT ROWNUM AS R, RK.* FROM (
     		   SELECT * FROM RANKING ORDER BY DAILY_JUMSU DESC) RK
      	  	 WHERE ROWNUM &lt;= 5)
	</select>
	
	<select id="getNick" resultType="RankingDTO" parameterType="RankingDTO" >
		SELECT MEMBER_NICK FROM MEMBER WHERE MEMBER_ID = #{member_ID}
	</select>
	<update id="setNick" parameterType="RankingDTO">
		UPDATE RANKING SET MEMBER_NICK = #{member_Nick} WHERE MEMBER_ID = #{member_ID}
 	</update>
	
	<select id="getList" resultType="RankingDTO" >
		SELECT * FROM RANKING	
	</select>
	<!-- ranking 끝 -->
	<!-- 게시판 리스트도 그냥 여기에서 할게요 -->
	
	<select id="getQNAList" resultType="QnaDTO">
		SELECT * FROM 
			(SELECT ROWNUM AS R, QL.*
				FROM QNA QL
					WHERE flag =0
					ORDER BY BOARD_NUM DESC)
					WHERE R &lt;= 5
	</select>
	
</mapper>
