<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.groupb.cuiz.member.MemberDAO">
 	<insert id="setJoin" parameterType="MemberDTO">
 		INSERT INTO MEMBER
 		(MEMBER_ID,MEMBER_PASSWORD,MEMBER_EMAIL,MEMBER_NICK,MEMBER_PROFILE,MEMBER_PHONENUMBER)
 		VALUES
 		(#{member_ID},#{member_Password},#{member_Email},#{member_Nick},#{member_Profile},#{member_PhoneNumber})
 	</insert>
 </mapper>