<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.groupb.cuiz.web.quiz.QuizDAO">
    <insert id="addTestcase" parameterType="Map">
        INSERT INTO TESTCASE(TESTCASE_NO, QUIZ_NO, TESTCASE_INPUT, TESTCASE_OUTPUT, TESTCASE_TYPE)
        SELECT TESTCASE_SEQ.NEXTVAL as "TESTCASE_NO", t.* FROM (
            <foreach collection="testcase" item="item" separator="UNION ALL">
                SELECT  #{item.quiz_No} QUIZ_NO,
                        #{item.testcase_Input} TESTCASE_INPUT,
                        #{item.testcase_Output} TESTCASE_OUTPUT,
                        #{item.testcase_Type} TESTCASE_TYPE
                FROM DUAL
            </foreach>
        ) t
    </insert>

    <insert id="addQuiz" parameterType="QuizDTO">
        <selectKey resultType="Integer" keyProperty="quiz_No" order="BEFORE">
            SELECT QUIZ_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO QUIZ(QUIZ_NO, MEMBER_ID, QUIZ_TITLE, QUIZ_CONTENTS, QUIZ_TYPE, QUIZ_LEVEL, QUIZ_POINT, QUIZ_PRICE)
        VALUES (#{quiz_No}, #{member_Id}, #{quiz_Title}, #{quiz_Contents}, #{quiz_Type}, #{quiz_Level}, #{quiz_Point}, #{quiz_Price})
    </insert>

    <select id="getTotalCount" parameterType="Pager" resultType="Long">
        SELECT COUNT(QUIZ_NO) FROM QUIZ
        <include refid="search"/>
        <include refid="ordered"/>
    </select>

    <sql id="search">
        <where>
            <if test="kind=='type' or kind=='all'">
                QUIZ_TYPE = #{quiz_Type}
            </if>
            <if test="kind=='level' or kind=='all'">
                AND QUIZ_LEVEL = #{quiz_Level}
            </if>
        </where>
    </sql>

    <sql id="ordered">
        ORDER BY QUIZ_NO DESC
    </sql>

    <select id="getList" parameterType="Pager" resultType="QuizDTO">
        SELECT QUIZ_NO, QUIZ_TITLE, QUIZ_LEVEL
        FROM(
            SELECT ROWNUM R, QUIZ_NO, QUIZ_TITLE, QUIZ_LEVEL
            FROM (
                SELECT QUIZ_NO, QUIZ_TITLE, QUIZ_LEVEL
                FROM QUIZ
                <include refid="search"/>
                <include refid="ordered"/>
            )
        )
        WHERE R BETWEEN #{startRow} AND #{lastRow}
    </select>

    <select id="getDetail" parameterType="QuizDTO" resultType="QuizDTO">
        SELECT QUIZ_NO, QUIZ_TITLE, QUIZ_CONTENTS, QUIZ_LEVEL, QUIZ_TYPE, QUIZ_POINT, QUIZ_PRICE
        FROM QUIZ
        WHERE QUIZ_NO = #{quiz_No}
    </select>

    <select id="getExampleTestCases" parameterType="Map" resultType="TestcaseDTO">
        SELECT TESTCASE_INPUT,TESTCASE_OUTPUT FROM TESTCASE
        WHERE QUIZ_NO = #{dto.quiz_No} AND TESTCASE_TYPE = #{type}
    </select>
</mapper>